<ion-view title="下载歌曲" align-title="center" class="downloadmusic">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar-left">
                <img src="images/gd/zjl2.png">
                <h2>安静</h2>
                <p>周杰伦</p>
            </ion-item>
            <ion-item class="item-avatar-left">
                <img src="images/gd/zjl2.png">
                <h2>白色的风车</h2>
                <p>周杰伦</p>
            </ion-item>
            <ion-item class="item-avatar-left">
                <img src="images/gd/zjl.png">
                <h2>黑色毛衣</h2>
                <p>周杰伦</p>
            </ion-item>
            <ion-item class="item-avatar-left">
                <img src="images/gd/zjl.png">
                <h2>七里香</h2>
                <p>周杰伦</p>
            </ion-item>
            <ion-item class="item-avatar-left">
                <img src="images/gd/zjl.png">
                <h2>彩虹</h2>
                <p>周杰伦</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>